body{
margin:0;
font-family:Arial;
background-image:url("https://thumbs.dreamstime.com/b/conceptual-travel-image-airplane-train-bus-suitcases-around-globe-representing-modern-transportation-tourism-global-396718535.jpg?w=992");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
background-attachment:fixed;
}

/* Sell Ticket Form */

form{
width:420px;
margin:80px auto;
padding:30px;
background:rgba(255,255,255,0.95);
border-radius:15px;
display:flex;
flex-direction:column;
gap:15px;
text-align:center;
box-shadow:0 15px 40px rgba(0,0,0,0.3);
animation:slideUp 0.8s ease;
}

form input,
form select{
padding:12px;
border-radius:8px;
border:1px solid #ddd;
font-size:15px;
transition:0.3s;
}

form input:focus,
form select:focus{
border-color:#ff512f;
outline:none;
box-shadow:0 0 8px rgba(255,81,47,0.5);
}

#suggestion{
font-size:14px;
color:#ff512f;
font-weight:bold;
}

/* Button */

.btn{
padding:12px;
border:none;
border-radius:25px;
background:linear-gradient(45deg,#ff512f,#dd2476);
color:white;
cursor:pointer;
font-size:16px;
}

/* Animation */

@keyframes slideUp{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}